.btn-success {
  color: white !important;
  background-color: #17cfb0;
  border: 0px;
  border-radius: 30px;
  position: relative;

  &:hover {
    color: white !important;
    background-color: #17bda1;
  }
}

.color-hmi {
  color: #17bda1 !important;
}
