body {
  font-family: "Poppins", sans-serif;
}

.btn-success {
  color: white !important;
  background-color: #17cfb0;
  border: 0px;
  border-radius: 30px;
  position: relative;
}

.btn-success:hover {
  color: white !important;
  background-color: #17bda1;
}

.navbar {
  font-weight: 400;
  font-size: 16;
}

.navbar-brand {
  color: #17cfb0 !important;
  font-weight: 700;
  font-size: 26px;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 16px;
  }
}

.navbar-brand span {
  color: black;
}

#header h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 63px;
}

#header h1 span {
  color: #17cfb0;
}

@media (max-width: 768px) {
  #header h1 {
    font-size: 24px;
    line-height: unset;
    margin-top: -30px;
  }
}

#header p {
  color: red;
}

#header .img-banner {
  width: 100%;
  margin-top: -30vh;
}

#item .btn-group {
  margin-top: -45vh;
  background-color: white;
  border-radius: 5px;
  -webkit-filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.15));
  width: 796px;
  height: 83.38px;
}

#item .btn-group .btn {
  border-color: #e1e1e1;
}

#item .btn-group .btn:hover {
  background-color: #efefef;
}

#kelas-online {
  margin-top: -100px;
}

@media (max-width: 768px) {
  #kelas-online {
    margin-top: 0px;
  }
}

#kelas-online h4 {
  margin-left: 180px;
  margin-bottom: 20px;
  font-size: 24px;
}

@media (min-width: 991.98px) {
  #kelas-online .gambar-kelas {
    margin-left: 180px;
  }
}

@media (max-width: 768px) {
  #kelas-online .gambar-kelas {
    display: none;
    font-size: 23px;
    margin-left: 0px;
  }
}

#kelas-online .gambar-kelas img {
  width: 75%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

#kelas-online .swiper {
  margin-top: 22px;
}

@media (min-width: 991.98px) {
  #kelas-online .swiper {
    margin-left: -150px;
  }
}

#kelas-online .swiper .card {
  padding: 10px;
}

@media (min-width: 991.98px) {
  #kelas-online .swiper .card {
    margin-left: -10px;
    border-radius: 15px;
    height: 22rem;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 767.98px) {
  #kelas-online .swiper .card {
    border-radius: 15px;
    margin-left: 0px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 991.98px) {
  #kelas-online .swiper .card img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}

#kelas-online .swiper .card .card-body {
  padding: 5px;
}

#kelas-online .swiper .card .card-body .card-text {
  color: #bababa;
}

#kelas-online .swiper .card .card-body .star {
  color: #ffc700;
}

#berita .container .tag {
  margin-left: 20px;
}

#berita .container .tag h6 {
  font-size: 16px;
}

#berita .container .tag p {
  color: #9c9c9c;
  width: 80%;
  font-size: 12px;
  font-weight: normal;
}

#berita .container .tag a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

#tentang {
  margin-top: 100px;
}

#tentang .definition {
  margin-top: 150px;
}

#footer footer {
  text-align: center;
  color: #9c9c9c;
}

#login .card {
  width: 500px;
  margin-left: 200px;
  border-radius: 20px;
}

#login .card .form-login {
  margin-left: 25px;
  width: 90%;
  font-size: 18px;
}

#login .card .form-login input {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 200px;
  height: 50px;
}

#login .card .form-login .btn {
  font-size: 18px;
}

#login .card .form-login .btn-regis {
  background-color: #d5d5d5;
  color: white;
  margin-top: 10px;
  border-radius: 200px;
}

#login .card .form-login .btn-regis:hover {
  background-color: #c2c2c2;
}

#kelas {
  background-color: #e7fffc;
}

#kelas .page-dashboard .sidebar-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 14px;
}

#kelas .page-dashboard .sidebar-heading a {
  color: #000;
  font-size: 18px;
  font-weight: 350;
}

#kelas .page-dashboard .sidebar-heading a span {
  margin-left: 5px;
}

#kelas .page-dashboard #sidebar-wrapper {
  background-color: #fff;
  border-radius: 20px;
  width: 465px;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#kelas .page-dashboard #sidebar-wrapper .list-group-item {
  padding: 12px 10px 10px 20px;
  width: 320px !important;
  height: 60px !important;
  margin-left: 10px;
}

#kelas .page-dashboard #page-content-wrapper {
  margin-right: 20px;
  width: 100%;
}

#kelas .page-dashboard #page-content-wrapper .container .youtube {
  border-radius: 20px;
  width: 100%;
}

#kelas .page-dashboard #page-content-wrapper .container .youtube .video iframe {
  border-radius: 20px;
}

#kelas .page-dashboard #page-content-wrapper .container .judul-materi {
  font-weight: 500;
}

#kelas .page-dashboard #page-content-wrapper .container .btn {
  font-size: 18px;
}

#kelas .page-dashboard #page-content-wrapper .container .kebutuhan p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

#kelas .page-dashboard #page-content-wrapper .container .kebutuhan span {
  font-size: 16px;
}

#kelas .page-dashboard #page-content-wrapper .container .kebutuhan .card {
  margin-top: 30px;
  margin-left: 10px;
  width: 19rem;
  height: 12rem;
}

#kelas .page-dashboard #page-content-wrapper .container .kebutuhan .card .card-body {
  margin-top: 25px;
}

#kelas .page-dashboard .list-group-item {
  border: 1px solid;
  border-radius: 200px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #17cfb0;
  margin-left: 40px;
  width: 250px;
}

#kelas .page-dashboard .list-group-item svg.active path {
  fill: white;
}

#kelas .page-dashboard .list-group-item.active {
  background-color: #17cfb0;
  border-radius: 200px;
  color: #fff;
}

#kelas .page-dashboard .list-group-item.active svg path {
  fill: white;
}

#kelas .page-dashboard .list-group-item.active:hover {
  background-color: #17bda1;
}
/*# sourceMappingURL=style.css.map */